<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= @ring.image %>
</p>

<p>
  <strong>Name:</strong>
  <%= @ring.name %>
</p>

<p>
  <strong>Style:</strong>
  <%= @ring.style %>
</p>

<p>
  <strong>Description:</strong>
  <%= @ring.description %>
</p>

<p>
  <strong>Name:</strong>
  <%= @ring.name %>
</p>

<%= link_to 'Edit', edit_ring_path(@ring) %> |
<%= link_to 'Back', rings_path %>
